.home-main__diary-post
  .home-main__diary-post_text
    .home-main__diary-post_text-top
      .home-main__diary-post_text-top_title
        %span.diary__main-title
          TITLE
      .home-main__diary-post_text-top_time
        %span.diary__main-time
          2018/11/21
    .home-main__diary-post_text-mid
      %span.diary__main-text
        今日は一日家にこもってテレビを見ていた。起きたらヒルナンデスがやっていてぼーっとしていたら、ミヤネ屋が始まった。ニュース番組はいい勉強になります。暇な日はゆっくりするのが何よりです。
        今日は一日家にこもってテレビを見ていた。起きたらヒルナンデスがやっていてぼーっとしていたら、ミヤネ屋が始まった。ニュース番組はいい勉強になります。暇な日はゆっくりするのが何よりです。
    .home-main__diary-post_text-btm
  .home-main__diary-post_menu
