- current_user.diaries.each do |diary|
  .home-main__diary-post
    .home-main__diary-post_text
      .home-main__diary-post_text-top
        .home-main__diary-post_text-top_title
          %span.diary__main-title
            = diary.title
        .home-main__diary-post_text-top_time
          %span.diary__main-time
            = l(diary.created_at, format: :short)
      .home-main__diary-post_text-mid
        %span.diary__main-text
          = diary.sentence
      .home-main__diary-post_text-btm
    .home-main__diary-post_menu
