.home-main__post-box
  .home-main__post-box_text
  .home-main__post-box_image
    .home-main__post-box_image-top
    .home-main__post-box_image-mid
    .home-main__post-box_image-bottom
  .home-main__post-box_menu
