.home-main__post-text
  .home-main__post-text_text
    .home-main__post-text_text-top
      .post__image
      .post__username
        %span.post__username_text
          ken
      .post__time
        %span.post__time_text
          2018-11-11
    .home-main__post-text_text-mid
    .home-main__post-text_text-bottom
  .home-main__post-text_menu
