.home
  .home-up
    .home-up__search
    .home-up__signout
      = link_to 'ログアウト', destroy_user_session_path, method: :delete

  .home-main

    .home-main__user
      .home-main__user-image
        .home-main__user-image_box
      .home-main__user-info
        .home-main__user-info_name
          %span.name
            NAME
        .home-main__user-info_username
          %span.username
            USERNAME
        .home-main__user-info_btn
          %span.follow
            FOLLOW
      .home-main__user-bottom
        %ul
          %li.home-main__user-bottom_box
            %p#info-text
              Follow
            %p#info-num
              55
          %li.home-main__user-bottom_box
            %p#info-text
              Follower
            %p#info-num
              55
          %li.home-main__user-bottom_box
            %p#info-text
              Post
            %p#info-num
              55
          %li.home-main__user-bottom_box
            %p#info-text
              Dairy
            %p#info-num
              55

    .home-main__mid
      .home-main__mid-left
      .home-main__mid-mid
        .home-main__mid-mid_post
          a
        .home-main__mid-mid_post
          a
        .home-main__mid-mid_post
          a
        .home-main__mid-mid_post
          a
      .home-main__mid-right
