.account {
  width: 100%;
  height: 100%;
  &-top {
    height: 39px;
    width: 400px;
    position: relative;
    top: 100px;
    left: 36%;
    &__application-name {
      float: left;
      font-size: 1.6em;
      font-weight: $font-weight;
      display: block;
    }
    &__sign-in {
      float: right;
      &--btn {
        line-height: 39px;
        text-decoration: none;
        color: $main-color;
      }
    }
  }
  &-edit {
    background-color: $colorwhite;
    height: 500px;
    width: 400px;
    position: relative;
    top: 113px;
    left: 36%;
    border: 0.5px solid $border;
    border-radius: 5px;

    //useredit
  }
  &-main {
    background-color: $colorwhite;
    height: 350px;
    width: 400px;
    position: relative;
    top: 113px;
    left: 36%;
    border: 0.5px solid $border;
    border-radius: 5px;
    &__title {
      height: 80px;
      text-align: center;
      &_size {
        font-size: 1.4em;
        line-height: 80px;
        display: inline-block;
      }
    }
    &__avatar {
      height: 120px;
      width: 120px;
      margin: 0 auto 20px auto;
      &-field {
        display: inline-block;
        border: 0.5px solid $border;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        cursor: pointer;
        &_main {
          display: none;
        }
      }
      &-field:hover {
        outline: none;
        border: 0.5px solid $main-color;
      }
    }
    &__username {
      text-align: center;
      height: 50px;
    }
    &__email {
      text-align: center;
      height: 50px;
    }
    &__password {
      text-align: center;
      height: 50px;
    }
    &__password-confirm {
      text-align: center;
      height: 50px;
    }
    &__submit {
      text-align: center;
      &-btn {
        display: inline-block;
        height: 40px;
        width: 300px;
        line-height: 40px;
        background-color: $main-color;
        border-radius: 5px;
        border: none;
        color: $colorwhite;
        cursor: pointer;
      }
    }
  }
}

.field {
  height: 34px;
  width: 300px;
  border-radius: 5px;
  border: 0.5px solid $border;
}

.field:focus {
  outline: none;
  border: 0.5px solid $main-color;
}


