.diary {
  &__main {
    &-title {
      display: inline-block;
      font-size: 30px;
      position: relative;
      left: 30px;
      top: 5px;
    }
    &-time {
      display: inline-block;
      font-size: 22px;
      position: relative;
      top: 14px;
    }
    &-text {
      display: inline-block;
      height: 360px;
      width: 582px;
      position: relative;
      top: 10px;
      left: 11px;
      font-size: 17px;
    }
  }
}
