.home {
  &__up {
    height: 50px;
    width: 100%;
    background-color: $colorwhite;
    border-bottom: $border-line;
    &_search {
      display: inline-block;
      height: 30px;
      width: 150px;
      float: right;
      position: relative;
      right: 600 - 30px;
      margin-top: 10px;
      border: $border-line;
      border-radius: 2px;
      display: none;
    }
    &_signout {
      display: inline-block;
      height: 30px;
      width: 150px;
      float: right;
      position: relative;
      right: 350 - 105px;
      margin-top: 10px;
      border: $border-line;
      border-radius: 2px;
      &__text {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 3.5px;
        text-decoration: none;
        transition: .3s;
        color: black;
        //後々変更
      }
      &__text:hover {
        color: white;
      }
    }
    &_signout:hover {
      background-color: black;
    }
    &_post {
      width: 150px;
      float: right;
      position: relative;
      left: 100px;
      margin-top: 10px;
      transition: .3s;
      &__link {
        display: inline-block;
        height: 30px;
        width: 100%;
        text-decoration: none;
        color: black;
        border: $border-line;
        border-radius: 2px;
        text-align: center;
        line-height: 30px;
        transition: .3s;
      }
      &__link:hover {
        color: white;
      }
    }
    &_post:hover {
      background-color: black;
    }
  }

  &-main {
    width: 100%;
    background-color: $colorgray;
    &__user {
      height: 238px;
      width: 72%;
      background-color: $colorgray;
      margin: 0 auto;
      &-image {
        height: 100%;
        width: 30%;
        float: left;
        &_box {
          height: 220px;
          width: 220px;
          border-radius: 50%;
          border: $border-line;
          background-color: white;
          margin: auto;
          position: relative;
          top: 5px;
        }
      }
      &-info {
        height: 70%;
        width: 70%;
        float: left;
        &_name {
          height: 50px;
          width: 300px;
          position: relative;
          left: 12px;
          top: 12px;
        }
        &_username {
          height: 30px;
          width: 250px;
          float: left;
          padding-left: 15px;
          display: none;
        }
        &_btn {
          float: right;
          display: inline-block;
          height: 40px;
          width: 150px;
          border: $border-line;
          border-radius: 2px;
          display: none;
        }
      }
      &-bottom {
        height: 30%;
        width: 70%;
        float: right;
        overflow: hidden;
        &_box {
          width: 50px;
          float: left;
          padding-left: 10px;
          padding-right: 40px;
          &-color {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    &__post {
      border-top: $border-line;
      height: 500px;
      width: 100%;
      overflow: scroll;
      &-text {
        height: 300px;
        width: 100%;
        border-bottom: $border-line;
        &_text {
          height: 250px;
          width: 500px;
          position: relative;
          left: 469px;
          top: 9px;
          float: left;
          border: 3px solid $border;
          border-radius: 4px;
          &-top {
            height: 45px;
            widows: 100%;
            border-bottom: 1.5px solid $border;
          }
          &-mid {
            height: 158px;
            width: 100%;
          }
          &-bottom {
            height: 45px;
            width: 100%;
            border-top: 1.5px solid $border;
          }
        }
        &_menu {
          height: 280px;
          width: 280px;
          position: relative;
          left: 510px;
          top: 9px;
          float: left;
          border: 3px solid $border;
          border-radius: 3px;
          display: none;
        }
      }
      &-box {
        height: 500px;
        width: 100%;
        border-bottom: $border-line;
        &_text {
          height: 300px;
          width: 280px;
          float: left;
          border: 3px solid $border;
          border-radius: 3px;
          position: relative;
          top: 10px;
          left:147px;
          display: none;
        }
        &_image {
          height: 450px;
          width: 500px;
          float: left;
          border: 3px solid $border;
          border-radius: 4px;
          position: relative;
          top: 10px;
          left: 469px;
          &-top {
            height: 45px;
            widows: 100%;
            border-bottom: 1.5px solid $border;
          }
          &-mid {
            height: 357px;
            width: 100%;
          }
          &-bottom {
            height: 45px;
            width: 100%;
            border-top: 1.5px solid $border;
          }
        }
        &_menu {
          height: 280px;
          width: 280px;
          border: 3px solid $border;
          border-radius: 3px;
          float: left;
          position: relative;
          top: 10px;
          left: 224px;
          display: none;
        }
      }
    }
  }
}



.up {
  &__name {
    font-size: 30px;
  }
  &__username {
    font-size: 16px;
  }
  &__btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 8px;
  }
}

.post {
  &__image {
    height: 40px;
    width: 40px;
    float: left;
    position: relative;
    left: 5px;
    border: $border-line;
    top: 2px;
    border-radius: 50%;
  }
  &__username {
    height: 46px;
    width: 138px;
    float: left;
    position: relative;
    left: 20px;
    &_text {
      display: inline-block;
      font-size: 30px;
      position: relative;
      left: 5px;
      top: 5px;
    }
  }
  &__time {
    height: 46px;
    width: 184px;
    float: left;
    position: relative;
    left: 20px;
    &_text {
      display: inline-block;
      font-size: 22px;
      position: relative;
      top: 14px;
    }
  }
}


#info-num {
  text-align: center;
}

#info-text {
  text-align: center;
}

#post-box {
  width: 100%;
  max-height: 420px;
}
