.home {
  &-up {
    height: 50px;
    width: 100%;
    background-color: $colorwhite;
    border-bottom: 1px solid $border;
    position: fixed;
    &__search {
      display: inline-block;
      height: 30px;
      width: 150px;
      background-color: red;
      float: right;
      position: relative;
      right: 600 - 30px;
      margin-top: 10px;
    }
    &__signout {
      display: inline-block;
      height: 30px;
      width: 150px;
      background-color: blue;
      float: right;
      position: relative;
      right: 350 - 105px;
      margin-top: 10px;
    }
  }

  &-main {
    width: 100%;
    background-color: $colorgray;
    &__user {
      height: 340px;
      width: 72%;
      background-color: $colorgray;
      padding-top: 20px;
      margin: 0 auto;
      &-image {
        height: 60%;
        width: 30%;
        float: left;
        &_box {
          height: 220px;
          width: 220px;
          border-radius: 50%;
          border: 1px solid $border;
          background-color: white;
          margin: auto;
          margin-top: 110px;
        }
      }
      &-info {
        height: 60%;
        width: 70%;
        float: left;
      }
      &-bottom {
        height: 40%;
        width: 100%;
        clear: both;
      }
    }

    &__mid {
      height: 500px;
      width: 100%;
      border-top: 1px solid $border;
      &-left {
        height: 100%;
        width: 27.7%;
        background-color: $colorgray;
        float: left;
      }
      &-mid {
        height: 100%;
        width: 44.3%;
        float: left;
        background-color: $colorwhite;
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid $border;
        overflow: scroll;
        &_post {
          height: 200px;
          width: 100%;
        }
      }
      &-right {
        height: 100%;
        width: 27.6%;
        background-color: $colorgray;
        float: right;
      }
    }
  }
}
