.post {
  height: 100%;
  width: 100%;
  position: relative;
  top: 50px;
  &-main {
    height: 270px;
    width: 600px;
    border: $border-line;
    position: relative;
    left: (840px / 2);
    top: 50px;
    border-radius: 5px;
    &__text {
      text-decoration: none;
      height: 150px;
      width: 500px;
      position: relative;
      left: 50px;
      top: 30px;
      border: $border-line;
      border-radius: 5px;
      font-size: 18px;
      resize: none;
    }
    &__submit {
      display: inline-block;
      height: 30px;
      width: 150px;
      position: relative;
      left: 400px;
      top: 50px;
      border-radius: 5px;
      border: $border-line;
    }
  }
}
