.home
  .home__up
    .home__up_search
    .home__up_signout
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "home__up_signout__text"
  .post
    .post-main
      .post-main__text
      .post-main__send



